@charset "UTF-8";

 * {
 
}   

html {
    font-size: 100%;
    height: 100vh; 
    width:  200vh;
}

a {
    text-decoration: none;
}

.logo {
    width: 150px;
    margin-top: 60px;
}

.main-nav {
    display: flex;
    list-style-type: none;
    font-size: 0.75rem;
    margin-top: 20px;
}

.main-nav li {
    
    margin-right: 50px;
}
.top0 {
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.full {
    max-width: 100%;
    background-size: cover;
}

.main-category {
    width: 700px;
    height: 50px;
    text-align: center;
    margin: -100px auto;
    list-style-type: none;
}

.main-category> li {
    float: left;
    width: 140px;
    position: relative;
    color: rgb(0,0,0) !important;;
}


.main-category > li > ul {
    width: 130px;
    display: none;
    position: absolute;
    font-size: 14px;
    list-style-type: none;
    
}

.submenu {
    float : left;
    display: none;
    position: relative;
    list-style-type: none;
    font-size: 14px;
}

.main-category li:hover > ul {
    display: block;
    color: red;
}

#text {
    margin-top: 170px;
    margin-left: 350px;
    margin-bottom: 30px;
}

#maindiv{
    text-align: center;
    /* margin: auto; */
    /* margin-right: 230px;
    margin-left: 230px; */
    /* border-bottom: 1px solid black; */
}

.main2 {
    display: inline-block;
    /* margin-left: 120px; */
    /* justify-content: space-between; */
}

.image {
    width: 200px;
    height: 200px;
    margin: 0 15px;
    margin-bottom: 20px;
    
}

.image:hover {
    transform: scale(1.4);
}

p{
    font-size: 12px;
}

.main2str2 {
    text-decoration-line: line-through;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing : 30px 0px;
    margin-bottom: 50px;
}

.footer {
    background-color: beige;
}

.clear div {
    display: inline-block;
    margin-bottom: 100px;
    padding: 0px 150px;
    vertical-align :middle;
}

td {
    text-align: center;
}
