@charset "UTF-8";

html {
    font-size: 100%;
}

a{
  position:relative;
  
  color:black;
  text-decoration:none;
  font-size:15px;
  
}
/* a:before{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:2px;
  background:#66BB6A;
} */

.item {
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    /* grid-template-columns : 500px auto; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 700px 700px 700px;
    margin: 10% 6%;
}

.item:nth-child(1) {
    grid-column:1/1;
    /* background-image: url("../image/mockup-3684376_960_720.jpg"); */
    background-size: 100% 700px;
    background-color: bisque;
}

.item:nth-child(2) {
    grid-column: 2/4;
    /* grid-column-start: 2;
    grid-column-end: 3; */
    background-image: url("../image/flatlay-3681541_960_720.jpg");
    background-size: 100%;
}

.item:nth-child(3) {
    
    grid-column : 1/3;
    background-color: white;
    /* background-image: url("../image/mck_586f4006b4e9f-375x375.jpg"); */
}

.item:nth-child(4) {
    grid-column : 3/3;
    background-color: white;
}

.item:nth-child(5) {
    grid-column : 1/4;
    background-color : grey
}

.str {
    margin-top: 250px;
    text-align: center;
    /* align-items: center; */
}

.str > li {
    list-style-type: none;
    display: block;
    border-radius: 30px;
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
    background-color: thistle;
    margin: 5px;
    margin-left: 70px;
}

/* #img2 {
    margin-top: 10%;
} */

p {
    margin-top: 10%;
}

#sub-div2 {
    text-align :center;
    /* margin-top: 50%; */
    display: block;
}

#btn1 {
    margin: auto;
    border: 1px;
    margin-top: 70px;
    /* background-color: skyblue */
    
}

#btn2 {
    border: 1px;
    margin: auto;
    margin-top: 50px;
    /* background-color: skyblue */
 
}

#sub-div3{
    width : 300px;
    height: 400px;
    margin-top: 30px;
    margin-left: 40%;
    margin-bottom: 50%;
    background-color: white;
    /* padding-top: 50px; */
}

#sub-div3 > img{
    width: 100%;
    height: 100%;
}

.java {
    width: 100px;
    height: 100px;
}

#main2 {
    display :inline-block
}


